@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #121317;
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}
#unity-canvas {
  background-color: #121317;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 154px;
  height: 130px;
  background: url("unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-empty-dark.png") no-repeat center;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-dark.png") no-repeat center;
}
#unity-footer {
  position: relative;
}
.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
}
#unity-build-title {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  line-height: 38px;
  font-family: arial;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-family: "Anonymous Pro", monospace;
}
#unity-fullscreen-button {
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
}
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}

:root {
  font-family: "Roboto", sans-serif;
}
:root {
  padding-left: auto;
}
:root {
  padding-bottom: auto;
}
:root {
  padding-right: auto;
}
[class~="side"]::before {
  content: "";
}
:root {
  padding-top: auto;
}
:root,
[class~="cube"] {
  margin-left: auto;
}
[class~="cube"],
:root {
  margin-bottom: auto;
}
:root,
[class~="cube"] {
  margin-right: auto;
}
[class~="cube"],
:root {
  margin-top: auto;
}
:root {
  background-color: #121317;
}
:root {
  overflow: hidden;
}
:root {
  --primary-color: rgb(92, 255, 187);
}
:root {
  --main-bg-color: #121317;
}
[class~="content"] {
  display: none;
}
[class~="side"]:nth-child(1) {
  transform: rotateY(90deg);
}
[class~="side"]::before,
[class~="loader"] {
  position: absolute;
}
[class~="loader"] {
  left: 50%;
}
.side:nth-child(2) {
  transform: rotateY(180deg);
}
[class~="loader"] {
  top: 50%;
}
[class~="loader"] {
  -webkit-transform: translate(-50%, -50%);
}
[class~="loader"] {
  transform: translate(-50%, -50%);
}
[class~="side"]:nth-child(3) {
  transform: rotateY(270deg);
}
.side,
[class~="side"]::before {
  top: 0;
}
.side:nth-child(4) {
  transform: rotateY(360deg);
}
[class~="cube"] {
  font-size: 1.5pc;
}
.side,
[class~="side"]::before {
  bottom: 0;
}
.side,
[class~="side"]::before {
  left: 0;
}
[class~="cube"] {
  height: 1em;
}
[class~="side"]::before,
.side {
  right: 0;
}
[class~="cube"] {
  width: 1em;
}
[class~="cube"] {
  position: relative;
}
[class~="cube"] {
  transform: rotateX(30deg) rotateY(45deg);
}
[class~="cube"],
.side {
  transform-style: preserve-3d;
}
[class~="cube"] {
  animation: cube-spin 1.5s infinite ease-in-out alternate;
}
[class~="side"]:nth-child(5) {
  transform: rotateX(90deg);
}
.side {
  position: absolute;
}
[class~="side"]::before {
  background-color: currentColor;
}
[class~="side"]:nth-child(6) {
  transform: rotateX(270deg);
}
[class~="side"]::before {
  transform: translateZ(0.5em);
}
.side {
  color: var(--primary-color);
}
[class~="side"]::before {
  animation: cube-explode 1.5s infinite ease-in-out;
}
[class~="side"]::before {
  opacity: 0.5;
}
@keyframes cube-spin {
  0% {
    transform: rotateX(30deg) rotateY(45deg);
  }
  100% {
    transform: rotateX(30deg) rotateY(405deg);
  }
}
@keyframes cube-explode {
  0% {
    transform: translateZ(0.5em);
  }
  50% {
    transform: translateZ(0.75em);
  }
  100% {
    transform: translateZ(0.5em);
  }
}
.content {
  position: absolute;
}
.content {
  left: 50%;
}
.content {
  top: 50%;
}
.content {
  -webkit-transform: translate(-50%, -50%);
}
.content {
  transform: translate(-50%, -50%);
}
[class~="title"] {
  font-family: "Anonymous Pro", monospace;
}
[class~="title"] {
  padding-left: auto;
}
[class~="btn"]:hover,
[class~="title"]:hover {
  transform: scale(1.1);
}
[class~="title"] {
  padding-bottom: auto;
}
[class~="title"] {
  padding-right: auto;
}
[class~="btn"],
[class~="btn"]:hover {
  border-left-color: #ff4848;
}
[class~="title"] {
  padding-top: auto;
}
[class~="title"] {
  margin-left: 0.9375pc;
}
[class~="title"] {
  margin-bottom: 0.9375pc;
}
[class~="title"] {
  margin-right: 0.9375pc;
}
[class~="title"] {
  margin-top: 0.9375pc;
}
[class~="btn"]:hover,
[class~="btn"] {
  border-bottom-color: #ff4848;
}
[class~="btn-container"],
[class~="btn"],
[class~="subtitle"],
[class~="title"] {
  text-align: center;
}
[class~="title"] {
  color: #fff;
}
[class~="title"] {
  font-size: 0.729166667in;
}
[class~="btn"],
[class~="title"] {
  transition: transform 0.2s;
}
[class~="title-split"] {
  color: var(--primary-color);
}
[class~="btn"],
[class~="btn"]:hover {
  border-right-color: #ff4848;
}
[class~="btn"] {
  max-width: 200px;
}
[class~="btn"] {
  height: 0in;
}
[class~="btn"] {
  border-left-width: 0.020833333in;
}
[class~="btn"] {
  border-bottom-width: 0.020833333in;
}
[class~="btn"] {
  border-right-width: 0.020833333in;
}
[class~="btn"] {
  border-top-width: 0.020833333in;
}
[class~="btn"] {
  border-left-style: solid;
}
[class~="btn"] {
  border-bottom-style: solid;
}
[class~="btn"]:hover,
[class~="btn"] {
  border-top-color: #ff4848;
}
[class~="btn"] {
  border-right-style: solid;
}
[class~="btn"] {
  border-top-style: solid;
}
[class~="btn"]:hover {
  color: var(--main-bg-color);
}
[class~="btn"]:hover {
  background-color: var(--primary-color);
}
[class~="btn"] {
  border-image: none;
}
[class~="btn"] {
  background-color: var(--main-bg-color);
}
[class~="btn"] {
  color: black;
}
[class~="btn"]:hover {
  font-weight: bolder;
}
[class~="btn"] {
  color: var(--primary-color);
}
[class~="btn"] {
  padding-left: 1.25pc;
}
[class~="btn"] {
  padding-bottom: 1.25pc;
}
[class~="btn"] {
  padding-right: 1.25pc;
}
[class~="btn"] {
  padding-top: 1.25pc;
}
[class~="btn"] {
  font-size: 15pt;
}
[class~="btn"] {
  cursor: pointer;
}
[class~="btn"] {
  border-radius: 5px;
}
[class~="btn"] {
  font-family: "Oswald", sans-serif;
}
[class~="btn"] {
  line-height: 0pt;
}
[class~="btn"] {
  margin-left: 2.5pc;
}
[class~="btn"] {
  margin-bottom: 2.5pc;
}
[class~="btn"] {
  margin-right: 2.5pc;
}
[class~="btn"] {
  margin-top: 2.5pc;
}
[class~="subtitle"] {
  font-family: "Anonymous Pro", monospace;
}
[class~="subtitle"] {
  padding-left: auto;
}
[class~="subtitle"] {
  padding-bottom: auto;
}
[class~="subtitle"] {
  padding-right: auto;
}
[class~="subtitle"] {
  padding-top: auto;
}
[class~="subtitle"] {
  margin-left: 0.9375pc;
}
[class~="subtitle"] {
  margin-bottom: 0.9375pc;
}
[class~="subtitle"] {
  margin-right: 0.9375pc;
}
[class~="subtitle"] {
  margin-top: 0.9375pc;
}
[class~="subtitle"] {
  color: #929292;
}
[class~="subtitle"] {
  font-size: 20px;
}
[class~="auto-type"],
[class~="subtitle"] {
  transition: transform 0.2s;
}
[class~="auto-type"] {
  text-transform: uppercase;
}
[class~="auto-type"] {
  color: #b7b7b7;
}
[class~="auto-type"] {
  font-weight: 1;
}

.content {
  display: none;
}

.btn {
  border-color: #ff4848;
  color: #ff4848;
  font-family: "Anonymous Pro", monospace;
}

.btn {
  margin-top: 0.2pc;
  margin-right: 2.5pc;
  margin-bottom: 10px;
  margin-left: 1.1pc;
  line-height: 0pt;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15pt;
  padding: 20px;
  color: #ff4848;
  background-color: var(--main-bg-color);
  border-image: none;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: #ff4848;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0.020833333in;
  border-right-width: 0.020833333in;
  border-bottom-width: 0.020833333in;
  border-left-width: 0.020833333in;
  height: 0in;
  max-width: 200px;
  border-right-color: #ff4848;
  transition: transform 0.2s;
  text-align: center;
  border-bottom-color: #ff4848;
  border-left-color: #ff4848;
  justify-content: flex-end;
  display: flex;
  position: absolute;
}

.btn:hover {
  transform: scale(1.1);
  color: var(--main-bg-color);
  background-color: #ff4848;
}

.btn-container {
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
  align-items: center;
  height: 130px;
  bottom: -500px;
  text-align: center;
  transform: translate(-50%, -50%);
}
